<div class="container-fluid">
   <header>
      <img src="/assets/img/clean_air_innovation.jpg" height="100" width="100%">
      <h1>Air Quality Forecast</h1>
   </header>
   <section class="signin">
      <form class="signin-form">
         <fieldset>
            <legend>Sign in</legend>
            <div class="form-group">
               <label for="username">Username: </label>
               <input type="text" id="username" name="username" size="20" maxlength="20" placeholder="username">
            </div>
            <div class="form-group">
               <label for="password">Password:  </label>
               <input type="password" id="password" name="pasword" size="20" maxlength="20" placeholder="password">
            </div>
         </fieldset>
         <button id="loginBtn" type="submit">Login</button>
      </form>
   </section>
   <footer>
      <p>Don't have an account?
         <a href="/sign-up">Sign up</a>
      </p>
      <p>You will need to have an account to access air quality forecasts</p>
   </footer>

</div>